<!DOCTYPE html>
<head>
    <title>RESULT PREDICTION</title>
</head>
<body style="background-size:cover" background="https://wallpaperplay.com/walls/full/d/8/b/329997.jpg">
    <center><h1 style="color: black">RESULT PREDICTION</h1></center>
    
    <center><h3>NAMA : {{ profil['name']}}</h3></center>
    <center><h3>RESULT PREDICTION : {{ profil['hasil']}}</h3></center>
    <center><img src="{{ profil['grafik']}}"/></center>
    <br><br>
    <center><button type="button"><a href="http://localhost:5000/">BACK</a></button></center>
</body>
</html>
