<!DOCTYPE html>
<head>
    <title>HOME</title>
</head>

<body style="background-size:cover" background="https://wallpaperplay.com/walls/full/d/8/b/329997.jpg">
    <h1 align="left" style="color: blue; align-items: left">PREDIKSI PENYAKIT LIVER</h1>
    <form action="http://localhost:5000/hasil" method="post">
       
        Nama:
        <br>
        <input name="name" placeholder="Masukkan Nama..." type="text" 
        style="width: 200px"/>
        
        <br>
        <br>
        Umur:
        <br>
        <input name="age" placeholder="Masukan Umur..." type="number" 
        min="21" max="82" style="width: 200px"/>
        
        <br>
        <br>
        Total Bilirubin:
        <br>
        <input name="totalBilirubin" placeholder="Masukan Total Bilirubin..." type="number" 
        min="18" max="70" step="0.01" style="width: 200px"/>

        <br>
        <br>
        Direct Bilirubin:
        <br>
        <input name="directBilirubin" placeholder="Masukan Direct Bilirubin..." type="number" 
        min="0" max="19" style="width: 200px"/>
        
        <br>
        <br>
        Alkaline Phosphotase:
        <br>
        <input name="alkalinePhosphotase" placeholder="Masukan Alkaline Phosphotase..." type="number" 
        min="23" max="125" step="0.01" style="width: 200px"/>

        <br>
        <br>
        Alamine Aminotransferase:
        <br>
        <input name="alamineAminotransferase" placeholder="Masukan Alamine Aminotransferase..." type="number" 
        min="55" max="200" step="0.01" style="width: 200px"/>

        <br>
        <br>
        Aspartate Aminotransferase:
        <br>
        <input name="aspartateAminotransferase" placeholder="Masukan Aspartate Aminotransferase..." type="number" 
        min="14" max="847" step="0.01" style="width: 200px"/>

        <br>
        <br>
        Total Protiens:
        <br>
        <input name="totalProtiens" placeholder="Masukan Total Proteins..." type="number" 
        min="0" max="3" step="0.01" style="width: 200px"/>

        <br>
        <br>
        Albumin:
        <br>
        <input name="albumin" placeholder="Masukan Albumin..." type="number" 
        min="7" max="100" step="0.01" style="width: 200px"/>

        <br>
        <br>
        Albumin and Globulin Ratio:
        <br>
        <input name="albuminandGlobulinRatio" placeholder="Masukan Albumin and Globulin Ratio..." type="number" 
        min="7" max="100" step="0.01" style="width: 200px"/>

        <p align="left">
            <input type="submit" value="CARI"/>
        </p>
    </form>
</body>
</html>